{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    <link rel="icon"  type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script type="module" src="{% static 'js/components/add-to-cart-button.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="Logo" width="50" height="50"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'precart' %}">Carrito</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="btn-registrarse" href="{% url 'registrar' %}">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="btn-ingresar" href="{% url 'ingreso' %}">Ingresar</a>
                            </li>
                                <a class="nav-link" id="btn-logout" href="{% url 'home' %}">Cerrar Sesion</a>
                            </li>
                        </ul>
                        <div class="ms-auto">
                            <form class="d-flex nav-item sin-estilo" style="margin: 0;" action="{% url 'buscar' %}">
                                <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" name="q">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>  
    
    </header>
    
    {% block content%}
    {% endblock%}
                
</body>
<footer class="bottom">
    <div class="legal" style="text-align: center; display: block; margin: 0 auto">
        <span>© Todos los Derechos Reservados</span>
        <a href="/">Licencia</a>
        <a href="/">Términos y Condiciones</a>
        <a href="/">Privacidad</a>
    </div>
</footer>
<script>
    // Verificar si hay un token en sessionStorage
    const token = sessionStorage.getItem('token');

    if (token) {
        // Ocultar los botones de registrarse e ingresar
        document.getElementById('btn-registrarse').style.display = 'none';
        document.getElementById('btn-ingresar').style.display = 'none';

        // Mostrar el botón de logout y agregar un evento para borrar el token
        const btnLogout = document.getElementById('btn-logout');
        btnLogout.style.display = 'block';
        btnLogout.addEventListener('click', function() {
            sessionStorage.removeItem('token');
            localStorage.removeItem('shoppingCart');
            localStorage.removeItem('shoppingCartId');
            window.location.reload(); // Recargar la página para que los botones vuelvan a aparecer
        });
    } else {
        document.getElementById('btn-logout').style.display = 'none';
    }
</script>
</html>