{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<main class="container py-5">

  <section class="card card-body">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        
        <h1 class="text-center display-3 py-5">Carrito de Compras</h1>
        {% if productos %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for producto in productos %}
            <div class>
              {% include 'product-shopping-component.html' %}
            </div>
          {% endfor %}

        </div>
        {% else %}
          <p class="text-center">Tu carrito está vacío.</p>
        {% endif %}
        <div style="display: flex; justify-content: center;">
          <a href="{% url 'productos'  %}" class="btn-volver">Seguir agregando</a>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  // Limpiar los parámetros de la URL
  history.replaceState({}, document.title, window.location.pathname);
</script>
<script src="https://www.paypal.com/sdk/js?client-id=AV0vFYVVjODRSGg48OqG2wBwzMBJdtJGY3wqjq6TI3y6BpUDaB57F2-Z5GT6ZURUgnRC8f2tMiwkz2BQ"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
