{% extends 'base.html' %}

{% block content%}

<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form method="POST" enctype="multipart/form-data" class="card card-body mt-5" >
                <h1 class="text-center">Registro</h1>
                 {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Email">Correo Electrónico:</label>
                    <input type="email" name="email" id="email"
                    class="form-control" placeholder="Ingrese su Correo.">
                </div>
                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password" id="password"
                    class="form-control" placeholder="Ingrese su contraseña.">
                </div>
                <button class="btn btn-primary">
                    Registrarse
                </button>
            </form>
        </section>
    </div>
</main>

{% endblock %}